/* Sistema de Tamanhos - https://typescale.com/ 

Fontes - Minor Third - 1.200 - Em PX
4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 82.6

Espaçamentos - Major Third - 1.250 - Em PX
2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #121212;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-toggle{
  display: none;  
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

header {
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 1.6rem 3.12rem;
}

.container{
  display: flex;
  width: 100%;
  justify-content: space-around; 
}

.header-right{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.header-left{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.header-list{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.header-list ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  border-radius: 2rem;
  overflow: hidden;
}

.search-bar input[type="search"] {
  flex: 1;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  margin-left: 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-family: "Lexend Deca", sans-serif;
  max-width: 100%;
}

.search-bar button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-size: 1.8rem;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  z-index: 9999;
}


.trending-movies {
  margin-bottom: 3.12rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.movies-box {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.movie-frame {
  background-color: #1c1c1c;
  padding: 1.85rem;
  flex: 0 0 auto;
  border-radius: 1rem;
  margin: 0 10px;
  position: relative;
}

.movie-frame img {
  width: 14rem;
  border-radius: 1rem;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
  z-index: 10;
}

.next {
  right: 0;
}

.popular-title,
.trending-title, .results-page-title, .upcoming-title {
  padding: 1.6rem 3.12rem;
}

.paragrafo-box-filme {
  position: relative;
  max-width: 14rem;
  font-size: 1.6rem;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Oculta o conteúdo que não cabe */
  text-overflow: ellipsis;
}

.rating-box-filme {
  position: absolute;
  right: 3.3rem;
  font-size: 1.33rem;
  padding: 1.28rem;
  background-color: #121212;
  width: fit-content;
  border-radius: 50%;
  color: rgb(255, 247, 0);
  transform: translate(50%, -25%);
}

.button-container {
  display: flex;
  width: fit-content;
  background-color: #121212;
  border-radius: 1rem;
  gap: 1rem;
}

.trending-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  flex: 1; /* Faz com que ambos os botões tenham o mesmo tamanho */
  transition: background-color 0.3s;
  border-radius: 1rem;
  border: solid 2px white;
}

.container-two-el {
  display: flex;
  gap: 3rem;
}

.trending-button.selected {
  background-color: white; /* Cor do botão selecionado */
  color: #121212;
}

.trending-button:not(.selected) {
  background-color: inherit; /* Cor do botão não selecionado */
  color: white;
}

/* Página de resultados*/

.movies-results-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

/* Página de genero */

.genres-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.genre-box{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #1c1c1c;
  padding: 8rem 12rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  max-width: 20%;
}

.genre-box:hover{
  transform: scale(1.05);
}

/* ********** */

.loadmore-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loadmore-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #1c1c1c;
  color: rgb(255, 247, 0);
  text-align: center;
  border-radius: 1rem;
  border: solid 2px black;
}

.genres-text{
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  color: white;
}

@media screen and (max-width: 768px) {

  body{
    font-size: 1.33rem;
  }

  header{
    padding: 1.28rem 2.5rem;
    width: 100%;
  }

  .container{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .header-left{

    float: left;
  }

  .header-list{
    width: 0%;
    display: none; /* Esconda os tópicos por padrão */
  }

  .menu-toggle {
    display: inline-block;
    color: white; /* Mostre o botão de menu no celular */
  }

  .open {
    width: 100%; /* Mostre os tópicos quando o menu estiver aberto */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .open ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-right.open .header-list-topics ul li {
    margin: 5px 0;
  }

  .genre-box{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 0;
    max-width:none;
  }
}
